body{
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
}

/* variabele */

:root{

    --bigletters: 2rem; 
    --smallletters: 25px;
    --white: #fff;

    /* button styles */
    --button-color: #000dff;
    --button-border: 1em;
    
}

button{
    background-color: var(--button-color);
    border-radius: var(--button-border);
}

*{
    
    line-height: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    background-color: rgb(252, 239, 197);
    margin: 1%;
    
}
h1, h2, h3, h5, p{
    color: #0000FF;
    margin: 0 auto;
}

h1{
    font-size:var(--bigletters);
    line-height: 1em;
}
img{
    max-width: 100%;
}
.Yellow-hiephiep{
    background-color: yellow;
}

/* introduction styling */
.intro-box{
   
    position: relative;
    display: flex;
    flex-direction: column;
  
}
.intro-image{
    width: 100%;
    max-width: 440px;
   
}

.intro{
 margin-top: -2em;
}

.intro-header{
    background-color: var(--white);
    padding: .5em;
    height: 2em;
  margin: 0 0 0 5em;
    width: 90%;
   
    
}

.intro-text{
    padding: 1.5em;
    max-width: 440px;
    background-color: var(--white);
}

/* facts styling */

.facts-list {
    text-align: center;
    
}
.facts-content > li{

    list-style-type: none;
    line-height: 2em;
    background-color: yellow;
    color: blue;
    border-radius: 1em;
    margin-bottom: .5em;
    
    
}
li{
    padding: 0 auto;
}

form{
    display: flex;
    flex-direction: column;
}