*{
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #FFFECA;
    
}

/* variabele */

:root{

    --thicker: 900; 
    --smallletters: 25px;
    --white: #fff;

    /* button styles */
    --button-color: #000dff;
    --button-border: 5px;
    
}


/* element styling */

button{
    background-color: var(--button-color);
    border-radius: var(--button-border);
    color: var(--white);
    border: 0;
}

*{
    line-height: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    
    
}
h1, h2, h3, h5, p{
    color: #0000FF;
    margin: 0;
}

h1{
    font-size: 2em;
    font-weight: var(--thicker);
    line-height: 1em;
}
img{
    max-width: 100%;
}

.text-color{
    color: black;
}

.button-spacing{
    margin: 1rem 0 1rem 0;
}
header{
    margin-left: .5rem;
}

/* introduction styling */

.voorhoedelogo{
    width: 300px;
    height: 200px;
    float: right;
}
.intro-box, .intro-boxL{
    position: relative;
    max-width: 440px;
   
}

.intro-header{
    font-weight: var(--thicker);
    background-color: white;
    padding-right: 2em;
}

.intro-text{
    max-width: 440px;
    margin-bottom: 1em;
    padding: 1em 2em 1em 2em;
    background-color: white;
}

.intro-box > h2 {
    bottom: 0;
    right: 0;
    position: absolute;
}

.intro-boxL > h2 {
    bottom: 0;
    left: 0;
    position: absolute;
}
.intro-box-position{
    margin: 0 auto;
}

.intro-boxL{
    margin: 0 auto;
    
}

.intro-text-position{
    margin: 0 auto;
    padding-left: 0;
    background-color: white;
}

.button-spacing{
    top: 0;
    margin: 0 5em 1em 1.5em;
    font-size: 17px;
}

/* facts styling */

.facts-list {
    text-align: center;
    max-width: 440px;
    
}

.facts-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.facts-content > li{

    list-style-type: none;
    line-height: 2em;
    background-color: #FFE400;
    color: blue;
    border-radius: 1em;
    margin-bottom: .5em;
    max-width: fit-content;
    padding: 0 1rem 0 1rem;
    
    
}

.facts-header{
    margin: 1em 0 .5em 2em;
    padding: 0 1rem 0 1rem;
    font-weight: var(--thicker);
}

li > span{
    font-weight: var(--thicker);
}
/* interview styling */
.interview-image-wrapped{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
   
}


.interview-box{

    width: 440px;
    display: flex;
    flex-direction: column; 
    margin-top: 3em;  
 
}
.interview-position{
    margin-left: 1rem;
}

.interview-position > h3{
    font-weight: var(--thicker);
}

.interview-position > button{
margin: 1em 0;
font-size: 17px;
font-weight: var(--thicker);
}

/* timeline */

.timeline-items{
    max-width: 440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.timeline-items::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #0000FF;
    left: calc(50% + 1px);
}

.timeline-dot{
    height: 16px;
    width: 16px;
    background-color: #0000FF;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 6px) ;
    top: 10px;
}


.timeline-items::before{
    left: 7px;
}
.timeline-single-itemL{
  padding-left: 37px; 
  margin-bottom: 1em;
}

.timeline-single-itemR{
    
    padding-left: 37px;
    text-align: left;
    margin-bottom: 1em;

}
.timeline-dot{
    left: 0;
}

/* photo album */


.photo-album{
    display: flex;
    flex-wrap: wrap;
    max-width: 480px;
    margin-top: 1rem;
    margin-bottom: 1rem;
   
   
}

.photo-album > img{
    width: 50%;
    
}

.photo-album-title{
    font-weight: var(--thicker);
    text-align: center;
}

.photo-album-wrap{
    width: 50%;
    height: 283px;
}
.image-together{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.timeline-date{
    font-size: 18px;
    color: black;
}

.time-stamps-text{
    font-weight: var(--thicker);
}

/* Felicitatie form */


.yellow-hiephiep{
    background-color: #FFE400;
    position: absolute;
    height: 20rem;
    padding: 1rem;
    max-width: 440px;
    width: 85%;
    margin-left: .5rem;


}


form{
    display: flex;
    flex-direction: column;
    color: #0000FF;
    background-color: white;
    margin: 6rem 1rem 1rem 3rem; 
    padding: 1rem;
    position: relative;
    max-width: 440px;
    
}
form input{
   border-bottom: 3px solid #0000FF;
   border-top: 0;
   border-right: 0;
   border-left: 0;
   background-color: white;
}

form textarea{

    border-bottom: 3px solid #0000FF;
   border-top: 0;
   border-right: 0;
   border-left: 0;
   background-color: white;
   height: 200px;
    
}
label{
    background-color: white;
}

form button{
    margin: 1em auto 1em 1em;
    border-radius: 5px;
    padding: 0 .5em 0 .5em;
    border: 0px;
}

.yellow-hiephiep > h2 {
    font-weight: var(--thicker);
    font-size: 39px;
    margin-bottom: .2em;
}

/* felicitaties */

.felicitatie-border{
    border-left: 1px solid grey;
    margin: .2em 0 1em 1em;
    padding-left: 1em;
}

.smaller-text{
    color: black;
    font-size: small;
}


@media(min-width:1080px){

    /* header */
    .header-position {
        display: flex;
        justify-content: right;
        gap: 20%;
    }
    .header-text{
        width: 30%;
    }
    /* intro */


    /* factslist */

    .facts-list > ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 60rem;
        justify-content: center;
        margin: 1em auto;
        gap: 1%;
    }

    /* interview */

    .interview-box{
        display: flex;
        flex-direction: row;
        width: 100%;
    
    }

    .rounded-image{
        border-radius: 50%;
    }
    .interview-image-wrapped{
        width:50rem;
        height: 50rem;
        overflow-y: hidden;
        border-radius: 0%;
    }

    /* timeline */

    .timeline-single-itemR{
        padding-right: calc(50% + 26px);
        text-align: right;
        position: relative;
    }
    
    .timeline-single-itemL{
        padding-left: calc(50% + 26px);
        position: relative;
    }
    
    .timeline-items::before{
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;

        background-color: #0000FF;
        left: calc(50% + 1px);
    }
    
    .timeline-dot{
        height: 16px;
        width: 16px;
        background-color: #0000FF;
        border-radius: 50%;
        position: absolute;
        left: calc(50% - 6px) ;
        top: 10px;
    }
}