body{
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* variabele */

:root{

    --bigletters: 2rem; 
    --smallletters: 25px;
    --white: #fff;

    /* button styles */
    --button-color: #000dff;
    --button-border: 1em;
    
}


/* element styling */

button{
    background-color: var(--button-color);
    border-radius: var(--button-border);
    color: var(--white);
}

*{
    
    line-height: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    background-color: rgb(252, 239, 197);
    margin: 1%;
    
}
h1, h2, h3, h5, p{
    color: #0000FF;
    margin: 0 auto;
}

h1{
    font-size:var(--bigletters);
    line-height: 1em;
}
img{
    max-width: 100%;
}

.text-color{
    color: black;
}


/* introduction styling */
.intro-box{
   
    position: relative;
    display: flex;
    flex-direction: column;
  
}
.intro-image{
    width: 100%;
    max-width: 440px;
   
}

.intro{
 margin-top: -2em;
}

.intro-header{
    background-color: var(--white);
    padding: .5em;
    height: 2em;
  margin: 0 0 0 5em;
    width: 90%;
   
    
}

.intro-text{
    padding: 1.5em;
    max-width: 440px;
    background-color: var(--white);
}

/* facts styling */

.facts-list {
    text-align: center;
    
}
.facts-content > li{

    list-style-type: none;
    line-height: 2em;
    background-color: yellow;
    color: blue;
    border-radius: 1em;
    margin-bottom: .5em;
    
    
}
/* interview styling */

.rounded-image{
    border-radius: 50%;
    width: 18em;
    height: 18em;
    /* code hieronder werkt niet goed navragen waarom niet center */
    display: flex;
    align-items: center;
}

/* timeline */

/* photo album */

    /* foto's krijg ik niet naast elkaar */

.photo-album{
    display: flex;
    flex-direction: column;
}

.photo-album-title{
    text-align: center;
    font-weight: 900;
    margin-bottom: .5em;
    
}



.image-together{
    
    margin: 0;
    padding: 0;
    display: flex;
    object-fit: cover;
    
    
    
}

/* Felicitatie form */


.felicitatie-form{
    position: relative;
}

    /* waarom zit de background color eronder maar bij het form niet? */
.yellow-hiephiep{
    background-color: yellow;
    height: 1rem;
}

form{
    display: flex;
    flex-direction: column;
    color: #0000FF;
    background-color: white;
    margin-left: 2em;
}
form input{
   border-bottom: 3px solid #0000FF;
   border-top: 0;
   border-right: 0;
   border-left: 0;
   background-color: white;
}

form textarea{

    border-bottom: 3px solid #0000FF;
   border-top: 0;
   border-right: 0;
   border-left: 0;
   background-color: white;
   height: 200px;
    
}
label{
    background-color: white;
}

form button{
    margin: 1em auto 1em 1em;
    border-radius: 5px;
    padding: 0 .5em 0 .5em;
    border: 0px;
}

/* felicitaties */

.felicitatie-border{
    border-left: 1px solid grey;
    margin: .2em 0 1em 1em;
    padding-left: 1em;
}

.smaller-text{
    color: black;
    font-size: small;
}